@import "../mixins";
@import "../variables";

.main-bookings {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .container-bookings {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 1%;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  #form {
    position: relative;
    margin: auto;
    background-color: rgba($color: #000000, $alpha: 0.7);
    height: 500px;
    width: 800px;
    z-index: 1;
    margin-top: -25%;
    .container-form{
      width: 800px; /* Ancho igual al de #form */
      margin: auto;
    }
    #first-group{
      position: relative;
      width: 400px;
      z-index: 2;
      border: 2px solid $secondaryColor;
      margin-top: 38px;
      .content-form{
        border: 1px solid #fff;
        margin: 10px;
        margin-left: 8px;
        padding: 5px;
        z-index: 4;
        display: flex;
        flex-direction: row;
        align-items: center;
        i{
          color: $secondaryColor;
          border-right: 1px solid #fff;
          padding: 8px;
          margin-left: 8px;
        }
        .input-group{
          border: none;
          outline: none;
          background: transparent;
          margin-left: 8px;
          z-index: 4;
          width: 300px;
          color: #fff;
        }
        ::placeholder{
          color: #fff
        }
      }
    }

    #second-group{
      border: 2px solid $secondaryColor;
      width: 400px;
      margin-top: 38px;
      margin-left: 330px;
    }
  }

  .skewed {
    &-bg {
      @include bgSkew("../img/bg1.webp", 100%);
    }
    &-bg2 {
      @include bgSkew("../img/bg2.jpg", 0%);
    }
  }
}
