@import "../mixins";
@import "../variables";

.main-bookings {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .container-bookings {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 1%;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  #form {
    position: relative;
    margin: auto;
    background-color: rgba($color: #000000, $alpha: 0.7);
    height: 500px;
    width: 100%;
    z-index: 1;
    margin-top: -10%;
    .container-form{
      width: 800px; /* Ancho igual al de #form */
      margin: auto;
    }
    
  }

  .skewed {
    &-bg {
      @include bgSkew("../img/bg1.webp", 100%);
    }
    &-bg2 {
      @include bgSkew("../img/bg2.jpg", 0%);
    }
  }
}

