@mixin headerCards($color1, $color2) {
  margin-top: -25px;
  margin-bottom: 3%;
  height: 120px;
  box-shadow: 1px 5px 15px #a2a2a2;
  background: linear-gradient(-90deg, $color1, $color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mainImage($urlImg) {
  background-image: url($urlImg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 35vh;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin: 2%;
  }
}

@mixin mainImageBefore($content) {
  content: $content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1vw;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  @media screen and (max-width: 768px) {
    font-size: 3vw;
    padding: 3vw;
  }
}

@mixin hoverCards($x, $y, $blurRadius, $color, $radius) {
  box-shadow: $x $y $blurRadius $color;
  border-radius: $radius;
}

@mixin buttonStyle() {
  background: $secondaryColor !important;
  border: none;
  color: rgb(255, 255, 255) !important;
}

@mixin buttons {
  @include buttonStyle();
  &:active {
    @include buttonStyle();
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin imgRooms($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  height: 200px;
  @media screen and (max-width: 765px) {
    width: 100%;
  }
}

@mixin footerImgHotel($url){
  background-image: url($url);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

@mixin animationForm($translate, $opacity, $blur, $delay) {
  transform: translateX($translate);
  opacity: $opacity;
  filter: blur($blur);
  transition-delay: calc(0.1s * var($delay));
}

@mixin animationBgForm($top, $height,$rotate, $skew, $origin, $delay) {
  position: absolute;
  top: $top;
  width: 850px;
  height: $height;
  transform: rotate($rotate) skewY($skew);
  transform-origin: bottom $origin;
  transition: 1.5s ease;
  transition-delay: $delay;
}