@import "variables";
@import "mixins";
@import "components/header";
@import "pages/home";
@import "pages/mountain";
@import "pages/beach";
@import "pages/perfil";
@import "pages/doBook";
@import "pages/loginRegistro";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
